body {
  background: #fff;
}
.mandatory::after {
  content: ' *';
}
.table .sum {
  text-align: right;
  font-weight: bold;
}
.table-row-notes td,
.table-row-loaner_address td {
  white-space: pre-line;
}
